{% extends 'base.html.twig' %}

{% block title %}New Category{% endblock %}

{% block body %}
    <h1 class="text-white">Create new Category</h1>
<table class="table container w-50 p-3 bg-light border border-light rounded-lg mx-auto">
    {{ include('category/_form.html.twig') }}

    <a class="btn btn-dark" href="{{ path('category_index') }}">back to list</a>
</table>
{% endblock %}
