{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
{#{% block stylesheets %}{% endblock %}#}
<table class="table container w-50 p-3 border border-light rounded-lg mx-auto" style="margin-top: 8em;">
    {{ include('user/_form.html.twig') }}
    <div class="d-flex justify-content-center p-4">
    <a class="btn btn-dark " href="{{ path('user_index') }}">back to list</a>
    </div>
</table>
{% endblock %}
